.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    max-width:320px;
    text-align: center;
    color: #006633
}
  
  .progress-gif {
    max-width: 100%;
    size: 1em;    
    display: block;  
    margin: 0 auto;    
}