<div class="container">
  <section>
    <h1 class="txt-green-90">Bolão da Mega da Virada</h1>
    <h3 class="txt-green-70">
      Valor estimado para a edição deste ano é de R$ 550 milhões, o maior da história do concurso especial.
    </h3>
    <p class="txt-green-90" style="font-weight: 500;">
      A Mega da Virada está acumulada em incríveis 550 milhões! A ideia é juntar os amigos e tentar a sorte com apostas
      de 8 e 9 e quem sabe 10 números.</p>

    <p>Responsabilizo-me por coletar os valores, dividir o prêmio e organizar o churrasco nas Bahamas.</p>
  </section>

  <section class="bg-green-30" style="width: 100%;">
    <div class="title">
      <h4 class="txt-green-90">Veja os valores das apostas, Bilhetes com:</h4>
    </div>
    <ul>
      <li>7 números = R$ 35</li>
      <li>8 números = R$ 140</li>
      <li>9 números = R$ 420</li>
      <li>10 números = R$ 1050</li>
    </ul>
  </section>

  <section>
    <p>Vamos dividir o valor da aposta entre todos do grupo, assim como o prêmio. Em caso de vitória, apenas o Pix na
      conta de cada um e o convite com passagens para a festa!</p>

    <p>Tabela de pagadores e saldo do bolão: <a href="https://abre.ai/bolao-planilha"
        target="_blank">Tabela com participantes</a></p>

    <p>Mais informações sobre o bolão: <a href="https://abre.ai/bolao-comofunciona"
        target="_blank">Docs com mais detalhes</a></p>

    <p>Pagar Bolão: <a href="https://encr.pw/pix14Bolao" target="_blank" class="button">Pagar Agora</a></p>
  </section>
</div>