<div class="container">
  <section>
    <h1 class="txt-green-90">Bolão da Mega da Virada</h1>
    <h3 class="txt-green-70">
      Valor estimado para a edição deste ano é de R$ 550 milhões, o maior da história do concurso especial.
    </h3>
    <p class="txt-green-90" style="font-weight: 500;">
      A Mega da Virada está acumulada em incríveis 550 milhões! A ideia é juntar os amigos e tentar a sorte com apostas
      de 8 e 9 e quem sabe 10 números.</p>

    <p>Responsabilizo-me por coletar os valores, dividir o prêmio e organizar o churrasco nas Bahamas.</p>
  </section>

  <section style="width: 100%;">
    <h3 class="txt-green-70"> Quanto custa participar</h3>
    <div class="pix-content">
      <h4 class="txt-green-90">Taxa única : 14 R$</h4>
      <div class="pix-btn">
        <a href="https://encr.pw/pix14Bolao" target="_blank" class="button">Fazer Pix</a>
      </div>
    </div>
  </section>

  <section class="tabela-section">
  <h2> Tipos de Apostas </h2>
  <table class="bolao-table">
      <thead>
          <tr>
              <th>Números jogados</th>
              <th>Valor da aposta (R$)</th>
              <th>Probabilidade de acerto da sena (1 em)</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>6</td>
              <td>5,00</td>
              <td>50.063.860</td>
          </tr>
          <tr>
              <td>7</td>
              <td>35,00</td>
              <td>7.151.980</td>
          </tr>
          <tr>
              <td>8</td>
              <td>140,00</td>
              <td>1.787.995</td>
          </tr>
          <tr>
              <td>9</td>
              <td>420,00</td>
              <td>595.998</td>
          </tr>
          <tr>
              <td>10</td>
              <td>1.050,00</td>
              <td>238.399</td>
          </tr>
          <tr>
              <td>20</td>
              <td>193.800,00</td>
              <td>1.292</td>
          </tr>
      </tbody>
  </table>
</section>



  <section>
    <h3 class="txt-green-70"> Links Importantes</h3>
    <p>Vamos dividir o valor da aposta entre todos do grupo, assim como o prêmio. Em caso de vitória, apenas o Pix na
      conta de cada um e o convite com passagens para a festa!</p>

    <ul>
      <li><a href="https://abre.ai/bolao-planilha" target="_blank">Tabela com participantes</a>
      </li>
      <li><a href="https://abre.ai/bolao-comofunciona" target="_blank">Docs com mais detalhes</a>
      </li>
    </ul>

  </section>
</div>