
.results-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.item-ranking{
 display: flex;
 width: 15em;
 height: 2rem;
 padding-bottom: 0.4em;
}

.number{
    border-radius:0.2em 0 0 0.2em ;
    border: 1px solid green;
    color: #4caf50;
    border-right: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quantity{
    border: 1px solid#4caf50;
    border-radius: 0 0.2em 0.2em 0;
    border-left: none;
    background-color:#4caf50;
    color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}