<div class="container">
    <jwf-ticket-numbers-selector 
        [mostPickeds]="mostPickedNumbersFor2022$ | async"
        [year]="selectedYear"
        [allNumbers]="allNumbers" 
        [selectedNumbers]="selectedNumbers"
        [(selectedNumbers)]="selectedNumbers" 
        [(editingIndex)]="editingIndex" [ticketLength]="ticketLength" />
    
    <p class="txt-green-70">Números mais escolhidos no ano:</p>
    <jwf-year-filter
    [yearOptions]="yearOptions"
    (yearSelected)="onYearSelected($event)"/>
    <br>
    <br>
    <h3 class="txt-green-90">
       Seus números até agora:
    </h3>
    <jwf-numbers-ball 
        [selectedNumbers]="selectedNumbers" 
        [(editSelected)]="editingIndex" />
    <br>
    <br>
    <br>
    <br>

    
    <div class="button-group">
        <button class="save-button" (click)="saveNumbers()" *ngIf="!invalidNumbers()">Salvar</button>
        <button class="back-button" [routerLink]="['/ticket-list']" *ngIf="invalidNumbers()"> Voltar</button>
        <button class="clear-button" (click)="clearNumbers()">Limpar</button>
    </div>
</div>