<div class="login-card">
    <form  [formGroup]="user" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input
              formControlName="email"
              name="email"
              type="email"
              required
              class="form-control"
              id="email"
              autocomplete="email"
              placeholder="enter your email"
              required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              formControlName="password"
              name="current-password"
              type="password"
              required
              class="form-control"
              id="password"
              placeholder="enter a password"
              autocomplete="current-password"
              required>
          </div>
          <button type="submit" class="login-btn" [disabled]="isLoading">Entrar</button>
          
    </form>
    <div *ngIf="errorMessage$ | async as errorM">{{ errorM }}</div>
    <a  [routerLink]="'sigin-in'">criar conta</a>
  </div>