<div class="login-card">
    <form  [formGroup]="user" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label style="padding-top: 1rem;" for="phoneNumber">Número de Telefone</label>
          <input formControlName="phoneNumber" name="phoneNumber" type="tel" required class="form-control" id="phoneNumber"
          placeholder="ex.:(84) 9-1234-5678" autocomplete="tel" required   mask="(00) 0-0000-0000"/>
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input
              formControlName="password"
              name="current-password"
              type="password"
              required
              class="form-control"
              id="password"
              placeholder="enter a password"
              autocomplete="current-password"
              required>
          </div>
          <button type="submit" class="login-btn" [disabled]="!user.valid ||isLoading">Entrar</button>
          
    </form>
    <div *ngIf="errorMessage$ | async as errorM">{{ errorM }}</div>
    <a  [routerLink]="'sigin-in'">criar conta</a>
  </div>