.ticket {
    border: 1px solid #ccc; 
    border-radius: 5px;
    max-width: 18em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.head {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 128, 0, 0.301);
    margin-bottom: 1em;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.label{
    display: flex;
    flex-direction: column;

}


.status {
    margin: 1em ;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    padding: 0.3rem 0.6rem;
    height: 2rem;
}

.active {
    border: 1px solid hsl(120, 100%, 30%);
    color: hsl(120, 100%, 30%);;
    font-weight: 600;
}
.ended {
    border: 1px solid hsl(32, 87%, 58%);
    color: #fff;
    background-color: hsl(32, 87%, 58%);
    font-weight: 700;
    pointer-events: none;
    opacity: 0.5;
}


p {
    margin: 0.2rem;
    font-weight: 600;
}


button {
    padding: 0.1rem 0.8rem;
    cursor: pointer;  
    border-radius: 20px; /* Borda arredondada para criar o efeito de chips */
    background-color: #fff;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    min-width: 7em;
  }

button:disabled{
    pointer-events: none;
    opacity: 0.7;
}