<div class="ticket">
    <div class="head">

        <div class="label">
            <h5 style="margin: 0.1rem;" class="txt-green-70">Bililhete </h5>
            <h3 style="margin: 0.2rem ;" class="txt-green-90">{{ ticket.length }} números</h3>
        </div>

        <button class="status"  [routerLink]="['/create-ticket', ticket.id]" [ngClass]="ticket.status ">
            {{ ticket.status === 'active' ? ' Editar ' : 'Finalizado' }}
        </button>
    </div>

    <jwf-numbers-ball [editable]="false" *ngIf="!!ticket.numbers.length" [selectedNumbers]="ticket.numbers">
    </jwf-numbers-ball>
    <div *ngIf="!ticket.numbers.length"  >
        <div class="selected-numbers ">
            <div class="number-ball-item" *ngFor="let ball of emptyBalls">
                {{ ball !== null ? (ball < 10 ? '0' + ball : ball.toString()) : '' }}</div>
        </div>
    </div>
</div>